html { font-size: 1rem; }
@media screen and (max-width:1920px) { html { font-size: calc(-1.1102230246251565e-16rem + 0.8333333333333335vw); } }
@media screen and (max-width:1440px) { html { font-size: calc(0.24999999999999994rem + 0.5555555555555556vw); } }
@media screen and (max-width:1080px) { html { font-size: calc(0.14285714285714296rem + 0.7142857142857141vw); } }
@media screen and (max-width:800px) { html { font-size: 0.5rem; } }

* {
    box-sizing: border-box;
}

body {
    font-family: Inter;
    background-color: #1B1B1B;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

section {
    margin: 6.9375rem auto 9.875rem auto;
    text-align: center;
    max-width: 88rem;
}

h2 {
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 3.5rem;
    margin: 0;
}

.description {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 2rem;
    max-width: 58rem;
    margin: 1rem auto 5rem auto;
}

.grid-container {
    display: grid;
    grid-template-columns: [start] 28rem [item1-end item2-start] 20.5rem [item3-end item4-start] 35.5rem [end];
    grid-template-rows: [top]  26.75rem [mid] 23.5rem [bottom];
    gap: 2rem;
}

.grid-item {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: left;
    padding: 2.5rem;
    border-radius: 2.5rem; 
    overflow: hidden;
}

.grid-item h3 {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 0;
}

.grid-item p {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 2rem;
    margin-top: 0.5rem;
    flex-grow: 1;
}

.grid-item .button {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: transparent;
    border: 0.125rem solid #FFFFFF;
    border-radius: 36px;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 2rem;
    align-self: flex-start;
}

.item4 .button {
    color:#00584C;
    border: 0.125rem solid #00584C;
}

.item1 {
    background: linear-gradient(135deg, rgba(96,194,236,1) 0%, rgba(7,168,237,1) 100%);
    grid-column: start / item1-end;
}

.item1 p {
    opacity: 0.8;
    margin-bottom: 3rem;
}

.item2 {
    grid-column: item2-start/ end;
    flex-direction: row;
    flex-wrap: wrap;
}

.item3 {
    grid-column: start / item3-end;
}

.item4 {
    grid-column: item4-start / end;
    color: #00584C;
    background: linear-gradient(315deg, rgba(169,214,53,1) 0%, rgba(213,248,120,1) 100%);
}

.item2,.item3 {
    background: linear-gradient(127deg, rgba(255,255,255,0.01) 0%, rgba(255,255,255,0.06) 46.01%, rgba(255,255,255,0.05) 100%);
    border: 1px solid rgba(255,255,255,0.06);
}

.black {
    display: flex;
    flex-direction: column;
    max-width: 33rem;
}

.item2 > .black {
    margin-right: 2rem;
}

.image {
    position: absolute;
    right: 0;
    bottom: 0;
    width: auto;
    max-height: 100%;
}

.item2 > .image {
    right: 4.0625rem;
}

.opacity {
    color: rgba(255,255,255,0.6);
}

.shadow1 {
    box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25), 0 0 0.5rem 0 rgba(27, 27, 27, 0.15) inset;
}

.shadow2 {
    box-shadow: 0 0.5rem 3.5rem 0 rgba(27, 27, 27, 0.03), 0 0 0.5rem 0 rgba(27, 27, 27, 0.15) inset;
}

/* Media Queries */

@media screen and (max-width:750px) { 
    html { 
        font-size: 0.5rem; }     
    
    section {
        margin: 0 3rem;
    }

    .grid-container {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem 0;
    }

    .grid-item {
        flex-basis: 80rem;
    }
}

@media screen and (max-width: 450px) {
    .grid-item p {
        margin-bottom: 10rem; 
    }

    .item2 > .image {
        max-width: 7rem;
    }

    .item3 > .image {
        max-width: 11.5rem;
    }
}



